body {
    background-color: #693c3c;
    color: rgb(194, 175, 175);
  }

  .logoDefault {
    font-size: 30px;
    line-height: 5px;
    margin-top: px;
    margin-left: 180px;
    height: 29px;
    width: auto;
  }
 

  .navBar {
    justify-content: end;
    display: flex;
    flex-direction: row;
    gap: 35px;
    margin-top: 0;
    margin-right: 150px;
    line-height: 1px;
    font-size: 20px;
    list-style-type: none;
    color:rgb(244, 233, 219);

  }


  .explore {
    font-size: 30px;
    margin-top: 90px;
    margin-bottom: -10px;
    margin-left: 280px;
    color: rgb(244, 233, 219);
    padding: 10px;
  }

  .exploreBar {
    display: inline-flex;
    gap: 50px;
    list-style-type: none;
    font-size: 20px;
    color: black;
    margin-left: 250px;
    padding-top: 35;
    padding-bottom: 35;
    padding-left: 35px;
    padding-right: 35px;
    
  }

  #searchBar {
    border: none;
    border-radius: 30px; 
    width: 60%;   
    height: 45px;
    margin-left: 280px;
    font-size: 15px;
  }

  .art {
    background-color: rgb(244, 233, 219);;
    padding: 10px;
    width: 60px;
    text-align: center;
    border-radius: 10px;
  }

  .cosplay {
    background-color: rgb(244, 233, 219);;
    padding: 10px;
    width: 90px;
    text-align: center;
    border-radius: 10px;
  }

  .commissions {
    background-color: rgb(244, 233, 219);;
    padding: 10px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
  }

  .featured {
  background-color: rgb(244, 233, 219);
  padding: 10px;
  width: 200px;
  text-align: center;
  border-radius: 10px;
  }